@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    background-color: #FAF7FD;
}

#sectionPerfil {
    height: 213px;
    width: 213px;
    border: 2px solid #BB99DD;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 207px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.perfil {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #BB99DD;
    text-align: center;

}

.link {
    border: 2px solid #bb99dd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 326px;
    height: 49px;
    color: #BB99DD;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin:0 auto;
    margin-bottom: 16px;
}

#socialMedias{
    margin-top: 68px;
    display: flex;
    gap: 29px;
    justify-content: center;
}